*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* html {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  width: 100vw;
  height: 100vh;
} */


body {
  /* max-width: 100%;
  min-height: 100vh;
  background-color: #222; */
  color: #eee;
  background: #404041;
  /* margin: auto; */
  /* padding: 10px; */
}

header,
main,
footer {
  width: 90vw;
  min-height: 100vh;
}

main {
  margin: 0;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 2;
}

.dropdown-content a:hover {background-color: #ddd;}


.dropdown-content a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-size: 20px;
}
.dropdown-content > .fab{
  padding-right: 5px;
}
.main-nav {
  display: flex;
  /* width: 100vw; */
  height: 30px;
  justify-content: space-between;
  color: white;
  padding-bottom: 150px;
}

.title {
  font-size: 50px;
}

.right-nav > a,i  {
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
  color: white;
  size: 500px;
  margin-right: 30px;
}

.right-nav > a:hover {
  cursor: pointer;
  /* background-color: gray; */
}

.right-nav > i:hover{
  cursor: pointer;

  /* background-color: gray; */
}

#tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}
#tooltip .tooltiptext {
  display: none;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -200px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: large;
  width: 300px;
  /* min-width: 250px; */
}

#tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#tooltip:hover .tooltiptext {
  display: block;
  opacity: 1;
}


main p canvas {
  border: 1px solid white;
  
}

.selected {
  width: 70px;
  height: 70%;
  border: 1px solid white;
  align-items: center;
}

.mains {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
  margin-bottom: 20px;
}
.mains > .canvas-box {
  
  border: 1px solid white;

}
.container {
  display: flex;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #fff;
  display: inline-block;
  /* background-color: attr('data-color'); */
  position: relative;
  margin: 5px;
  min-width: 150px;
}

.box::before {
  color: #fff;
  font-size: 0.8rem;
  content: attr(data-label);
  position: absolute;
  width: 150px;
  top: 5px;
  left: 5px;
}
.box::after {
  color: #fff;
  font-size: 0.8rem;
  content: attr(data-color);
  position: absolute;
  width: 150px;
  bottom: 5px;
  left: 5px;
}

#imagePreview {
  height: 500px;
  width: 900px;
}

.upload form {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 500px;
  color: #39393f;

}


.upload > i:hover{
  /* color: rgb(12, 11, 11); */
  cursor: pointer;
}

.upload > .file-upload {
  text-decoration: none;
  border-radius: 5px;
  color: #39393f;
}
