*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  width: fit-content;
  height: fit-content;
}


body {
  min-height: 100vh;
  /* background-color: #222; */
  color: #eee;
  background: linear-gradient(#39393f, #c6d8da);

}
header,
main,
footer {
  /* background-color: #333; */
  width: 90vw;
  min-height: 100vh;
  padding: 1rem 2rem;
  margin: 0 auto;
}
/* header h1 {
  color: orange;
}
header h2 {
  color: orangered;
} */
p {
  line-height: 1.7;
  margin: 1.5rem 0;
}

h1 {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  color: white;
  padding-top: 80px;
  padding-bottom: 30px;
  font-size: 60px;
  font-family: 'Lobster', cursive;
}

.main-nav {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;

}

.right-nav > a,i  {
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
  color: white;
  size: 500px;
}

.right-nav > a:hover {
  cursor: pointer;
  /* background-color: gray; */
}

.right-nav > i:hover{
  cursor: pointer;

  /* background-color: gray; */
}

#tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}
#tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: medium;
}

#tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


main p canvas {
  border: 1px solid white;
  
}

.selected {
  width: 70px;
  height: 70%;
  border: 1px solid white;
  align-items: center;
}

.mains {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
  margin-bottom: 20px;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #fff;
  display: inline-block;
  /* background-color: attr('data-color'); */
  position: relative;
  margin: 5px;
  min-width: 150px;
}

.box::before {
  color: #fff;
  font-size: 0.8rem;
  content: attr(data-label);
  position: absolute;
  width: 150px;
  top: 5px;
  left: 5px;
}
.box::after {
  color: #fff;
  font-size: 0.8rem;
  content: attr(data-color);
  position: absolute;
  width: 150px;
  bottom: 5px;
  left: 5px;
}

#imagePreview {
  height: 500px;
  width: 900px;
}

.upload form {
  align-items: center;
  display: flex;
  justify-content: center;
}


.upload > i:hover{
  /* color: rgb(12, 11, 11); */
  cursor: pointer;
}


